.formacao{
  background: rgb(8, 8, 8);
  color: red;
  padding: 120px 20px;
}


.formacao-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: calc(100rem/16);
}

.formacao-container.subtitulo{
  color: black;
}

.formacao-texto{
  font-size: calc(24rem/16);
  color: rgba(128, 128, 128, 0.938);
}

.formacao-texto strong{
  color: #fff;
}

.formacao-coluna2{
  display: grid;
  gap: 40px;
  padding: 10px 30px;
}

.formacao .subtitulo{
  color: blue;
}

.formacao-itens{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.informacao-itens li{
  background: black;
  display: grid;
  gap: calc(20rem/16);
  padding: 1rem;
}

@media (max-width: 850px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #fff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3:before {
    position: initial;
  }
}